{
  "openapi": "3.0.0",
  "info": {
    "title": "EchoMTG Public Magic:the Gathering API",
    "description": "This API is open to the app developers to access a centralized inventory system. It's released because the hardest thing to do is keep up with your magic inventory. If every app adopted it, you could manage your inventory from anywhere. I'm sure then we still wouldn't stay on top of it ;)\n\nThe second reason this is opened up is to gain access to list generation for importing and exporting your lists to sites like MagicTraders.com and PucaTrade.com. I love the market, and I love trading, that is why Echo exists.\n\nThe inventory is controlled by the Multiverse ID, which makes it universal for all apps to work with. Since Judge Foils and other promo cards do not have multiverseids, their multiverseid's start at 100000000. Access the ID reference here. If you have any suggestions here, please email me teeg at echomtg dot com.\n\nPHP Wrapper by Andrew Gioia: https://github.com/andrewgioia/EchoPHP\n\nJAVA Wrapper for Android https://github.com/ardeay/EchoMTG-Java-API-Wrapper/\n\nHave fun ;)\n—Teeg\n\nPrerequisites\n1. Register a user with EchoMTG so that it can submit API requests.\n\n2. Familiarize yourself with the core concepts of the JSON (JavaScript Object Notation) data format. For more information, see json.org.\n\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.echomtg.com"
    },
    {
      "url": "https://api.echomtg.com"
    },
    {
      "url": "https://us-central1-echo-csv.cloudfunctions.net"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "Inventory",
      "description": "The most valuable part of EchoMTG is the inventory (collection) aspect. Being able to manipulate this from multiple application allows magic players to keep on top of their collections. This is a quick and easy way to add more value to your magic applications for users."
    },
    {
      "name": "Notes"
    },
    {
      "name": "Lists"
    },
    {
      "name": "Earnings"
    },
    {
      "name": "Trades",
      "description": "Trades are inventory items mark as tradable, when items are marked for trade they become searchable in a public trade list."
    },
    {
      "name": "Watchlist",
      "description": "Track item price movement in a watchlist."
    },
    {
      "name": "Comments"
    },
    {
      "name": "User",
      "description": "The majority of calls requires user authentication. Soon you will be able to create a user on the fly here as well. This will let you use EchoMTG's preexisting user base without creating your own."
    },
    {
      "name": "Importing",
      "description": "Endpoints to import or read card data."
    },
    {
      "name": "Articles",
      "description": "Create, edit, and retrieve articles."
    },
    {
      "name": "Search and Data"
    }
  ],
  "paths": {
    "/api/inventory/add/": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Inventory: Adding Items",
        "description": "Add a card to the user inventory.\n\n| **Param** | **Required** | **Default** | **Description** |\n| --- | --- | --- | --- |\n| emid | required |  | EchoID |\n| quantity | optional | 1 | number to record |\n| language | optional | EN | Card text language. See language options below |\n| condition | optional | NM | Card condition, see options below |\n| foil | optional | 0 | 1=foiled, 0=regular |\n| image | optional |  | A remote URL to an uploaded image. To add an image through Echo, see the Upload Image endpoint |\n\nCondition Options\n\n```\nNM = Near Mint  \nLP = Lightly Played  \nMP = Moderately Played  \nHP = Heavily Played  \nD = Damaged  \nALT = Altered  \nART = Artist Proof  \nPRE = Pre-release  \nTS = Timestamped  \nSGN = Signed  \nBGS = BGS  \nB10 = BGS 10  \nB95 = BGS 9.5  \nB9 = BGS 9.0  \nB85 = BGS 8.5  \nB8 = BGS 8.0  \nB75 = BGS 7.5  \nB7 = BGS 7.0  \nPSA = PSA  \nP10 = PSA 10  \nP95 = PSA 9.5  \nP9 = PSA 9.0  \nP85 = PSA 8.5  \nP8 = PSA 8.0  \nP75 = PSA 7.5  \nP7 = PSA 7.0\n\n ```\n\nLanguage Options\n\n```\nEN = english  \nDE = german  \nFR = french  \nRU = russian  \nIT = italian  \nES = spanish  \nPT = portuguese  \nCT = chinese traditional  \nCS = chinese simplified  \nJP = japanese  \nKR = korean  \n\n ```",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n\\t\\\"emid\\\": 92175,\\n\\t\\\"quantity\\\" : 1,\\n\\t\\\"language\\\": \\\"EN\\\",\\n\\t\\\"acquired_price\\\": \\\"4.00\\\",\\n\\t\\\"acquired_date\\\": \\\"5-1-2020\\\",\\n\\t\\\"condition\\\": \\\"MP\\\",\\n\\t\\\"foil\\\": 0,\\n    \\\"image\\\" : \\\"https://assets.echomtg.com/images/echomtg-og-default.png\\\"\\n}\""
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 28 Oct 2022 10:56:43 GMT"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Authorization, Origin, X-Requested-With, Content-Type, Accept"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET, POST, PUT, DELETE, OPTIONS"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": "true"
                }
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 19 Nov 1981 08:52:00 GMT"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store, no-cache, must-revalidate"
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "1739"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=15, max=100"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=UTF-8"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "message": "1 Snapcaster Mage added to inventory binder.",
                  "inventory_id": 46653735,
                  "card": {
                    "id": "92175",
                    "tcgplayer_id": "52206",
                    "multiverseid": "227676",
                    "set_number": "78",
                    "card_name": "Snapcaster Mage",
                    "expansion": "Innistrad",
                    "set_code": "ISD",
                    "rarity": "Rare",
                    "mana_cost": "{{1}}{{u}}",
                    "cmc": "2",
                    "p_t": "2 / 1",
                    "types": "Creature - Human Wizard",
                    "main_type": "Creature - Human Wizard",
                    "sub_type": "",
                    "rating": "4.265",
                    "votes": "358",
                    "card_text": "<p>Flash</p><p>When Snapcaster Mage enters the battlefield, target instant or sorcery card in your graveyard gains flashback until end of turn. The flashback cost is equal to its mana cost. <i>(You may cast that card from your graveyard for its flashback cost. Then exile it.)</i></p>",
                    "attributes": "flash,flash",
                    "flavor_text": null,
                    "power": "2",
                    "toughness": "1",
                    "artist": "Volkan Baga",
                    "all_sets": null,
                    "community_rating": "Community Rating: 4.265 / 5&nbsp;&nbsp;(358 votes)",
                    "type": "Creature",
                    "main_colors": "Blue",
                    "abilities_colors": "",
                    "crawlurl": "http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=227676",
                    "watermark": null,
                    "loyalty": null,
                    "other_sets": null,
                    "card_number": "78",
                    "has_image": "1",
                    "flip": "0",
                    "reserve_list": "0",
                    "sealed": "0",
                    "card_id": "92175",
                    "tcg_low": "17.74",
                    "tcg_mid": "24.97",
                    "tcg_market": "20.28",
                    "tcg_high": "24.97",
                    "foil_price": "101.37",
                    "last_updated": "2022-10-27 14:22:37",
                    "change": "2.00",
                    "change_1d": "0.00",
                    "foil_change": "0.00",
                    "purchase_link_tcg": "https://shop.tcgplayer.com/magic/product/show?advancedSearch=true&ProductName=Snapcaster+Mage&partner=ECHOMAGE&utm_campaign=affiliate&utm_medium=echomtg-com&utm_source=ECHOMAGE",
                    "ck_price": null,
                    "ck_buy": null,
                    "ck_qty_buying": null,
                    "ck_foil_price": null,
                    "ck_foil_buy": null,
                    "ck_foil_qty_buying": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/inventory/update/": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Inventory: Update Item",
        "description": "Update an inventory item.\n\n| **Param** | **Required** | **Default** | **Description** |\n| --- | --- | --- | --- |\n| id | required |  | Inventory ID |\n| quantity | optional | 1 | number to record |\n| language | optional | EN | Card text language. See language options below |\n| condition | optional | NM | Card condition, see options below |\n| foil | optional | 0 | 1=foiled, 0=regular |\n| image | optional |  | A remote URL to an uploaded image. To add an image through Echo, see the Upload Image endpoint |\n\nCondition Options\n\n```\nNM = Near Mint  \nLP = Lightly Played  \nMP = Moderately Played  \nHP = Heavily Played  \nD = Damaged  \nALT = Altered  \nART = Artist Proof  \nPRE = Pre-release  \nTS = Timestamped  \nSGN = Signed  \nBGS = BGS  \nB10 = BGS 10  \nB95 = BGS 9.5  \nB9 = BGS 9.0  \nB85 = BGS 8.5  \nB8 = BGS 8.0  \nB75 = BGS 7.5  \nB7 = BGS 7.0  \nPSA = PSA  \nP10 = PSA 10  \nP95 = PSA 9.5  \nP9 = PSA 9.0  \nP85 = PSA 8.5  \nP8 = PSA 8.0  \nP75 = PSA 7.5  \nP7 = PSA 7.0\n\n```\n\nLanguage Options\n\n```\nEN = english  \nDE = german  \nFR = french  \nRU = russian  \nIT = italian  \nES = spanish  \nPT = portuguese  \nCT = chinese traditional  \nCS = chinese simplified  \nJP = japanese  \nKR = korean  \n\n```",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n\\t\\\"id\\\": 24955214,\\n\\t\\\"acquired_price\\\": \\\"50.00\\\",\\n    \\\"tradable\\\": \\\"1\\\"\\n    \\n}\""
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 09 Aug 2023 03:16:54 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=UTF-8"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.11"
                }
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 19 Nov 1981 08:52:00 GMT"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store, no-cache, must-revalidate"
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Authorization, Origin, X-Requested-With, Content-Type, Accept"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET, POST, PUT, DELETE, OPTIONS"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": "true"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "Inventory item 24955214 updated.",
                  "updates": {
                    "id": 24955214,
                    "acquired_price": "50.00",
                    "tradable": "1"
                  },
                  "status": "success"
                }
              }
            }
          }
        }
      }
    },
    "/api/inventory/upload_image/": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Inventory: Upload Item Image",
        "description": "Add a custom image to an inventory item. This feature is only available to paid tiers.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "45959523"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 28 Oct 2022 03:07:20 GMT"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Authorization, Origin, X-Requested-With, Content-Type, Accept"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET, POST, PUT, DELETE, OPTIONS"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": "true"
                }
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 19 Nov 1981 08:52:00 GMT"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store, no-cache, must-revalidate"
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "660"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=15, max=100"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=UTF-8"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "message": "User avatar updated to use uma-199-gaddock-teeg.png!",
                  "original": {
                    "file_name": "45959523-front.png",
                    "stored_file_name": "users/images/1/45959523-front.png",
                    "file_url": "https://assets.echomtg.com/users/images/1/45959523-front.png"
                  },
                  "medium": {
                    "file_name": "45959523-front.750.png",
                    "stored_file_name": "users/images/1/45959523-front.750.png",
                    "file_url": "https://assets.echomtg.com/users/images/1/45959523-front.750.png"
                  },
                  "optimized": {
                    "file_name": "45959523-front.300.png",
                    "stored_file_name": "users/images/1/45959523-front.300.png",
                    "file_url": "https://assets.echomtg.com/users/images/1/45959523-front.300.png"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/inventory/remove/": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Inventory: Removing Items",
        "description": "The call will remove an inventory record from a user's inventory.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "id": "46668493"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/x-www-form-urlencoded"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 28 Oct 2022 11:39:48 GMT"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Authorization, Origin, X-Requested-With, Content-Type, Accept"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET, POST, PUT, DELETE, OPTIONS"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": "true"
                }
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 19 Nov 1981 08:52:00 GMT"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store, no-cache, must-revalidate"
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "61"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=15, max=100"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=UTF-8"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "Card removed from inventory.",
                  "status": "success"
                }
              }
            }
          }
        }
      }
    },
    "/api/inventory/view/": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Inventory: View",
        "description": "View user inventory. All options can be combined.\n\nMaximum limit is 1000.\n\nSearches automatically limit to 1000 returned.\n\nMeta data in return contains information for pagination.\n\n| **Param** | **Required** | **Default** | **Description** |\n| --- | --- | --- | --- |\n| start | optional | 0 |  |\n| limit | optional | 100 | Number to records to return. Maximum 250 |\n| sort | optional | date_acquired | price_acquired, date_acquired, name, set, price_change, tcg_market, tcg_mid, foil_price |\n| direction | optional | ASC | Change sort direction |\n| cmc | optional |  | A math equation like '<=1' or '=0' or '>=5' |\n| color | optional |  | colorless, blue, white, red, multicolor, black, green |\n| tradable | optional |  | true, false |\n| reserve_list | optional |  | true, false |\n| price_under | optional |  | float number, return any item worth less than number |\n| price_over | optional |  | float number, return any item worth more than number |",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "250"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "name"
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "asc"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 22 Sep 2023 14:31:26 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=UTF-8"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.11"
                }
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 19 Nov 1981 08:52:00 GMT"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store, no-cache, must-revalidate"
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Authorization, Origin, X-Requested-With, Content-Type, Accept"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET, POST, PUT, PATCH, DELETE, OPTIONS"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": "true"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "Search for 'snap' returned 12 results, for performance limit and start are ignored in searches. Inventory accessed successfully.",
                  "items": [
                    {
                      "tcg_low": 0.41,
                      "tcg_mid": 1.17,
                      "tcg_market": 1.07,
                      "foil_price": null,
                      "price_change": 3,
                      "mc": "{{1}}{{u}}",
                      "game": 1,
                      "main_type": "Instant",
                      "colors": "Blue",
                      "name": "Snap",
                      "mid": 426582,
                      "t": "Instant",
                      "set": "Duel Decks: Mind vs. Might",
                      "rarity": "Common",
                      "types": "Instant",
                      "set_code": "DDS",
                      "expansion": "Duel Decks: Mind vs. Might",
                      "reserve_list": 0,
                      "emid": 102565,
                      "inventory_id": 27441861,
                      "note_id": 0,
                      "user_image": null,
                      "condition": "NM",
                      "tradable": 0,
                      "lang": "EN",
                      "date_acquired": "5/27/2019",
                      "date_acquired_html": "2019-05-27",
                      "foil": 0,
                      "price_acquired": 1.01,
                      "current_price": 1.17,
                      "personal_gain": 0.16,
                      "set_image": "https://assets.echomtg.com/magic/symbols/expansions/dds.png",
                      "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/102565.hq.jpg",
                      "image": "https://assets.echomtg.com/magic/cards/original/102565.jpg",
                      "gain": 15.84,
                      "echo_set_url": "https://api.echomtg.com/set/DDS/duel-decks-mind-vs-might/",
                      "echo_url": "https://api.echomtg.com/card/102565/snap/"
                    },
                    {
                      "tcg_low": 11,
                      "tcg_mid": 15.94,
                      "tcg_market": 13.25,
                      "foil_price": 50.41,
                      "price_change": -2,
                      "mc": "{{1}}{{u}}",
                      "game": 1,
                      "main_type": "Creature - Human Wizard",
                      "colors": "Blue",
                      "name": "Snapcaster Mage",
                      "mid": 227676,
                      "t": "Creature",
                      "set": "Innistrad",
                      "rarity": "Rare",
                      "types": "Creature - Human Wizard",
                      "set_code": "ISD",
                      "expansion": "Innistrad",
                      "reserve_list": 0,
                      "emid": 92175,
                      "inventory_id": 31378511,
                      "note_id": 0,
                      "user_image": "https://assets.echomtg.com/magic/cards/alters/18690/604/750.metal+gear+snap.jpg",
                      "condition": "NM",
                      "tradable": 0,
                      "lang": "EN",
                      "date_acquired": "2/23/2020",
                      "date_acquired_html": "2020-02-23",
                      "foil": 1,
                      "price_acquired": 46.7,
                      "current_price": 50.41,
                      "personal_gain": 3.71,
                      "set_image": "https://assets.echomtg.com/magic/symbols/expansions/isd.png",
                      "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/92175.hq.jpg",
                      "image": "https://assets.echomtg.com/magic/cards/original/92175.jpg",
                      "gain": 7.94,
                      "echo_set_url": "https://api.echomtg.com/set/ISD/innistrad/",
                      "echo_url": "https://api.echomtg.com/card/92175/snapcaster-mage/"
                    },
                    {
                      "tcg_low": 11,
                      "tcg_mid": 15.94,
                      "tcg_market": 13.25,
                      "foil_price": 50.41,
                      "price_change": -2,
                      "mc": "{{1}}{{u}}",
                      "game": 1,
                      "main_type": "Creature - Human Wizard",
                      "colors": "Blue",
                      "name": "Snapcaster Mage",
                      "mid": 227676,
                      "t": "Creature",
                      "set": "Innistrad",
                      "rarity": "Rare",
                      "types": "Creature - Human Wizard",
                      "set_code": "ISD",
                      "expansion": "Innistrad",
                      "reserve_list": 0,
                      "emid": 92175,
                      "inventory_id": 38837246,
                      "note_id": 0,
                      "user_image": null,
                      "condition": "NM",
                      "tradable": 0,
                      "lang": "EN",
                      "date_acquired": "5/09/2021",
                      "date_acquired_html": "2021-05-09",
                      "foil": 0,
                      "price_acquired": 65,
                      "current_price": 15.94,
                      "personal_gain": -49.06,
                      "set_image": "https://assets.echomtg.com/magic/symbols/expansions/isd.png",
                      "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/92175.hq.jpg",
                      "image": "https://assets.echomtg.com/magic/cards/original/92175.jpg",
                      "gain": -75.48,
                      "echo_set_url": "https://api.echomtg.com/set/ISD/innistrad/",
                      "echo_url": "https://api.echomtg.com/card/92175/snapcaster-mage/"
                    },
                    {
                      "tcg_low": 11,
                      "tcg_mid": 15.94,
                      "tcg_market": 13.25,
                      "foil_price": 50.41,
                      "price_change": -2,
                      "mc": "{{1}}{{u}}",
                      "game": 1,
                      "main_type": "Creature - Human Wizard",
                      "colors": "Blue",
                      "name": "Snapcaster Mage",
                      "mid": 227676,
                      "t": "Creature",
                      "set": "Innistrad",
                      "rarity": "Rare",
                      "types": "Creature - Human Wizard",
                      "set_code": "ISD",
                      "expansion": "Innistrad",
                      "reserve_list": 0,
                      "emid": 92175,
                      "inventory_id": 38837957,
                      "note_id": 0,
                      "user_image": null,
                      "condition": "NM",
                      "tradable": 0,
                      "lang": "EN",
                      "date_acquired": "5/09/2021",
                      "date_acquired_html": "2021-05-09",
                      "foil": 0,
                      "price_acquired": 20,
                      "current_price": 15.94,
                      "personal_gain": -4.06,
                      "set_image": "https://assets.echomtg.com/magic/symbols/expansions/isd.png",
                      "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/92175.hq.jpg",
                      "image": "https://assets.echomtg.com/magic/cards/original/92175.jpg",
                      "gain": -20.3,
                      "echo_set_url": "https://api.echomtg.com/set/ISD/innistrad/",
                      "echo_url": "https://api.echomtg.com/card/92175/snapcaster-mage/"
                    },
                    {
                      "tcg_low": 11,
                      "tcg_mid": 15.94,
                      "tcg_market": 13.25,
                      "foil_price": 50.41,
                      "price_change": -2,
                      "mc": "{{1}}{{u}}",
                      "game": 1,
                      "main_type": "Creature - Human Wizard",
                      "colors": "Blue",
                      "name": "Snapcaster Mage",
                      "mid": 227676,
                      "t": "Creature",
                      "set": "Innistrad",
                      "rarity": "Rare",
                      "types": "Creature - Human Wizard",
                      "set_code": "ISD",
                      "expansion": "Innistrad",
                      "reserve_list": 0,
                      "emid": 92175,
                      "inventory_id": 49844362,
                      "note_id": 133540,
                      "user_image": "",
                      "condition": "D",
                      "tradable": 0,
                      "lang": "RU",
                      "date_acquired": "9/02/2023",
                      "date_acquired_html": "2023-09-02",
                      "foil": 0,
                      "price_acquired": 13.88,
                      "current_price": 15.94,
                      "personal_gain": 2.06,
                      "set_image": "https://assets.echomtg.com/magic/symbols/expansions/isd.png",
                      "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/92175.hq.jpg",
                      "image": "https://assets.echomtg.com/magic/cards/original/92175.jpg",
                      "gain": 14.84,
                      "echo_set_url": "https://api.echomtg.com/set/ISD/innistrad/",
                      "echo_url": "https://api.echomtg.com/card/92175/snapcaster-mage/"
                    },
                    {
                      "tcg_low": 11,
                      "tcg_mid": 15.94,
                      "tcg_market": 13.25,
                      "foil_price": 50.41,
                      "price_change": -2,
                      "mc": "{{1}}{{u}}",
                      "game": 1,
                      "main_type": "Creature - Human Wizard",
                      "colors": "Blue",
                      "name": "Snapcaster Mage",
                      "mid": 227676,
                      "t": "Creature",
                      "set": "Innistrad",
                      "rarity": "Rare",
                      "types": "Creature - Human Wizard",
                      "set_code": "ISD",
                      "expansion": "Innistrad",
                      "reserve_list": 0,
                      "emid": 92175,
                      "inventory_id": 49844571,
                      "note_id": 0,
                      "user_image": "",
                      "condition": "NM",
                      "tradable": 0,
                      "lang": "EN",
                      "date_acquired": "9/02/2023",
                      "date_acquired_html": "2023-09-02",
                      "foil": 0,
                      "price_acquired": 13.88,
                      "current_price": 15.94,
                      "personal_gain": 2.06,
                      "set_image": "https://assets.echomtg.com/magic/symbols/expansions/isd.png",
                      "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/92175.hq.jpg",
                      "image": "https://assets.echomtg.com/magic/cards/original/92175.jpg",
                      "gain": 14.84,
                      "echo_set_url": "https://api.echomtg.com/set/ISD/innistrad/",
                      "echo_url": "https://api.echomtg.com/card/92175/snapcaster-mage/"
                    },
                    {
                      "tcg_low": 0.01,
                      "tcg_mid": 0.17,
                      "tcg_market": 0.02,
                      "foil_price": 0.1,
                      "price_change": 0,
                      "mc": "{{3}}{{u}}",
                      "game": 1,
                      "main_type": "Creature - Drake",
                      "colors": "Blue",
                      "name": "Snapping Drake",
                      "mid": 447211,
                      "t": "Creature",
                      "set": "Core Set 2019",
                      "rarity": "Common",
                      "types": "Creature - Drake",
                      "set_code": "M19",
                      "expansion": "Core Set 2019",
                      "reserve_list": 0,
                      "emid": 107622,
                      "inventory_id": 24955120,
                      "note_id": 0,
                      "user_image": null,
                      "condition": "NM",
                      "tradable": 0,
                      "lang": "EN",
                      "date_acquired": "11/19/2018",
                      "date_acquired_html": "2018-11-19",
                      "foil": 0,
                      "price_acquired": 0.14,
                      "current_price": 0.17,
                      "personal_gain": 0.03,
                      "set_image": "https://assets.echomtg.com/magic/symbols/expansions/m19.png",
                      "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/107622.hq.jpg",
                      "image": "https://assets.echomtg.com/magic/cards/original/107622.jpg",
                      "gain": 21.43,
                      "echo_set_url": "https://api.echomtg.com/set/M19/core-set-2019/",
                      "echo_url": "https://api.echomtg.com/card/107622/snapping-drake/"
                    },
                    {
                      "tcg_low": 0.06,
                      "tcg_mid": 0.24,
                      "tcg_market": 0.12,
                      "foil_price": null,
                      "price_change": 0,
                      "mc": "{{3}}{{u}}",
                      "game": 1,
                      "main_type": "Creature",
                      "colors": "Blue",
                      "name": "Snapping Drake",
                      "mid": 4274,
                      "t": "Creature",
                      "set": "Portal",
                      "rarity": "Common",
                      "types": "Creature - Drake",
                      "set_code": "POR",
                      "expansion": "Portal",
                      "reserve_list": 0,
                      "emid": 3097,
                      "inventory_id": 49844218,
                      "note_id": 0,
                      "user_image": "",
                      "condition": "NM",
                      "tradable": 0,
                      "lang": "EN",
                      "date_acquired": "9/02/2023",
                      "date_acquired_html": "2023-09-02",
                      "foil": 0,
                      "price_acquired": 0.12,
                      "current_price": 0.24,
                      "personal_gain": 0.12,
                      "set_image": "https://assets.echomtg.com/magic/symbols/expansions/por.png",
                      "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/3097.hq.jpg",
                      "image": "https://assets.echomtg.com/magic/cards/original/3097.jpg",
                      "gain": 100,
                      "echo_set_url": "https://api.echomtg.com/set/POR/portal/",
                      "echo_url": "https://api.echomtg.com/card/3097/snapping-drake/"
                    },
                    {
                      "tcg_low": 0.06,
                      "tcg_mid": 0.24,
                      "tcg_market": 0.12,
                      "foil_price": null,
                      "price_change": 0,
                      "mc": "{{3}}{{u}}",
                      "game": 1,
                      "main_type": "Creature",
                      "colors": "Blue",
                      "name": "Snapping Drake",
                      "mid": 4274,
                      "t": "Creature",
                      "set": "Portal",
                      "rarity": "Common",
                      "types": "Creature - Drake",
                      "set_code": "POR",
                      "expansion": "Portal",
                      "reserve_list": 0,
                      "emid": 3097,
                      "inventory_id": 49844219,
                      "note_id": 0,
                      "user_image": "",
                      "condition": "NM",
                      "tradable": 0,
                      "lang": "EN",
                      "date_acquired": "9/02/2023",
                      "date_acquired_html": "2023-09-02",
                      "foil": 0,
                      "price_acquired": 0.12,
                      "current_price": 0.24,
                      "personal_gain": 0.12,
                      "set_image": "https://assets.echomtg.com/magic/symbols/expansions/por.png",
                      "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/3097.hq.jpg",
                      "image": "https://assets.echomtg.com/magic/cards/original/3097.jpg",
                      "gain": 100,
                      "echo_set_url": "https://api.echomtg.com/set/POR/portal/",
                      "echo_url": "https://api.echomtg.com/card/3097/snapping-drake/"
                    },
                    {
                      "tcg_low": 0.06,
                      "tcg_mid": 0.24,
                      "tcg_market": 0.12,
                      "foil_price": null,
                      "price_change": 0,
                      "mc": "{{3}}{{u}}",
                      "game": 1,
                      "main_type": "Creature",
                      "colors": "Blue",
                      "name": "Snapping Drake",
                      "mid": 4274,
                      "t": "Creature",
                      "set": "Portal",
                      "rarity": "Common",
                      "types": "Creature - Drake",
                      "set_code": "POR",
                      "expansion": "Portal",
                      "reserve_list": 0,
                      "emid": 3097,
                      "inventory_id": 49850123,
                      "note_id": 0,
                      "user_image": "",
                      "condition": "NM",
                      "tradable": 0,
                      "lang": "EN",
                      "date_acquired": "9/03/2023",
                      "date_acquired_html": "2023-09-03",
                      "foil": 0,
                      "price_acquired": 0.12,
                      "current_price": 0.24,
                      "personal_gain": 0.12,
                      "set_image": "https://assets.echomtg.com/magic/symbols/expansions/por.png",
                      "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/3097.hq.jpg",
                      "image": "https://assets.echomtg.com/magic/cards/original/3097.jpg",
                      "gain": 100,
                      "echo_set_url": "https://api.echomtg.com/set/POR/portal/",
                      "echo_url": "https://api.echomtg.com/card/3097/snapping-drake/"
                    },
                    {
                      "tcg_low": 0.01,
                      "tcg_mid": 0.15,
                      "tcg_market": 0.02,
                      "foil_price": 0.1,
                      "price_change": 0,
                      "mc": "{{1}}{{g}}",
                      "game": 1,
                      "main_type": "Creature - Beast",
                      "colors": "Green",
                      "name": "Snapping Gnarlid",
                      "mid": 402045,
                      "t": "Creature",
                      "set": "Battle for Zendikar",
                      "rarity": "Common",
                      "types": "Creature - Beast",
                      "set_code": "BFZ",
                      "expansion": "Battle for Zendikar",
                      "reserve_list": 0,
                      "emid": 97078,
                      "inventory_id": 24955122,
                      "note_id": 0,
                      "user_image": null,
                      "condition": "NM",
                      "tradable": 0,
                      "lang": "EN",
                      "date_acquired": "11/19/2018",
                      "date_acquired_html": "2018-11-19",
                      "foil": 0,
                      "price_acquired": 0.15,
                      "current_price": 0.15,
                      "personal_gain": 0,
                      "set_image": "https://assets.echomtg.com/magic/symbols/expansions/bfz.png",
                      "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/97078.hq.jpg",
                      "image": "https://assets.echomtg.com/magic/cards/original/97078.jpg",
                      "gain": 0,
                      "echo_set_url": "https://api.echomtg.com/set/BFZ/battle-for-zendikar/",
                      "echo_url": "https://api.echomtg.com/card/97078/snapping-gnarlid/"
                    },
                    {
                      "tcg_low": 0.1,
                      "tcg_mid": 0.25,
                      "tcg_market": 0.2,
                      "foil_price": 5.93,
                      "price_change": 0,
                      "mc": "{{g}}{{g}}",
                      "game": 1,
                      "main_type": "Creature",
                      "colors": "Green",
                      "name": "Vintara Snapper",
                      "mid": 24656,
                      "t": "Creature",
                      "set": "Prophecy",
                      "rarity": "Uncommon",
                      "types": "Creature - Turtle",
                      "set_code": "PCY",
                      "expansion": "Prophecy",
                      "reserve_list": 0,
                      "emid": 6877,
                      "inventory_id": 49850154,
                      "note_id": 0,
                      "user_image": "",
                      "condition": "NM",
                      "tradable": 0,
                      "lang": "EN",
                      "date_acquired": "9/03/2023",
                      "date_acquired_html": "2023-09-03",
                      "foil": 1,
                      "price_acquired": 5.93,
                      "current_price": 5.93,
                      "personal_gain": 0,
                      "set_image": "https://assets.echomtg.com/magic/symbols/expansions/pcy.png",
                      "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/6877.hq.jpg",
                      "image": "https://assets.echomtg.com/magic/cards/original/6877.jpg",
                      "gain": 0,
                      "echo_set_url": "https://api.echomtg.com/set/PCY/prophecy/",
                      "echo_url": "https://api.echomtg.com/card/6877/vintara-snapper/"
                    }
                  ],
                  "meta": {
                    "sort": "c.card_name",
                    "direction": "asc",
                    "total_pages": 8,
                    "items_per_page": 250,
                    "current_page": 1,
                    "results": 12,
                    "total_items": 1906,
                    "filtered_results": 12,
                    "filter_color": false,
                    "filter_type": false,
                    "filter_search": "snap",
                    "filter_set": false,
                    "host_images": "https://assets.echomtg.com",
                    "host_urls": "https://api.echomtg.com"
                  },
                  "status": "success"
                }
              }
            }
          }
        }
      }
    },
    "/api/inventory/search/": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Inventory: Search",
        "description": "View user inventory. All options can be combined.\n\nMaximum limit is 1000.\n\nSearches automatically limit to 1000 returned.\n\nMeta data in return contains information for pagination.\n\n| **Param** | **Required** | **Default** | **Description** |\n| --- | --- | --- | --- |\n| start | optional | 0 |  |\n| limit | optional | 100 | Number to records to return. Maximum 250 |\n| sort | optional | date_acquired | price_acquired, date_acquired, name, set, price_change, tcg_market, tcg_mid, foil_price |\n| direction | optional | ASC | Change sort direction |\n| cmc | optional |  | A math equation like '<=1' or '=0' or '>=5' |\n| color | optional |  | colorless, blue, white, red, multicolor, black, green |\n| tradable | optional |  | true, false |\n| reserve_list | optional |  | true, false |\n| price_under | optional |  | float number, return any item worth less than number |\n| price_over | optional |  | float number, return any item worth more than number |",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "emid",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "153471"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 22 Sep 2023 12:43:56 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=UTF-8"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.11"
                }
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 19 Nov 1981 08:52:00 GMT"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store, no-cache, must-revalidate"
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Authorization, Origin, X-Requested-With, Content-Type, Accept"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET, POST, PUT, PATCH, DELETE, OPTIONS"
                }
              },
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "boolean",
                  "example": "true"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-0": {
                    "summary": "View Normal Pagination",
                    "value": {
                      "message": "Inventory accessed successfully.",
                      "items": [
                        {
                          "tcg_low": 0.01,
                          "tcg_mid": 0.29,
                          "tcg_market": 0.11,
                          "foil_price": 0.4,
                          "price_change": 10,
                          "mc": null,
                          "game": 1,
                          "main_type": "Land",
                          "colors": null,
                          "name": "Aether Hub",
                          "mid": 417815,
                          "t": "Land",
                          "set": "Kaladesh",
                          "rarity": "Uncommon",
                          "types": "Land",
                          "set_code": "KLD",
                          "expansion": "Kaladesh",
                          "reserve_list": 0,
                          "emid": 99692,
                          "inventory_id": 50074141,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/18/2023",
                          "date_acquired_html": "2023-09-18",
                          "foil": 1,
                          "price_acquired": 0.4,
                          "current_price": 0.4,
                          "personal_gain": 0,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/kld.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/99692.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/99692.jpg",
                          "gain": 0,
                          "echo_set_url": "https://api.echomtg.com/set/KLD/kaladesh/",
                          "echo_url": "https://api.echomtg.com/card/99692/aether-hub/"
                        },
                        {
                          "tcg_low": 0.01,
                          "tcg_mid": 0.29,
                          "tcg_market": 0.11,
                          "foil_price": 0.4,
                          "price_change": 10,
                          "mc": null,
                          "game": 1,
                          "main_type": "Land",
                          "colors": null,
                          "name": "Aether Hub",
                          "mid": 417815,
                          "t": "Land",
                          "set": "Kaladesh",
                          "rarity": "Uncommon",
                          "types": "Land",
                          "set_code": "KLD",
                          "expansion": "Kaladesh",
                          "reserve_list": 0,
                          "emid": 99692,
                          "inventory_id": 50074134,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/18/2023",
                          "date_acquired_html": "2023-09-18",
                          "foil": 1,
                          "price_acquired": 0.4,
                          "current_price": 0.4,
                          "personal_gain": 0,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/kld.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/99692.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/99692.jpg",
                          "gain": 0,
                          "echo_set_url": "https://api.echomtg.com/set/KLD/kaladesh/",
                          "echo_url": "https://api.echomtg.com/card/99692/aether-hub/"
                        },
                        {
                          "tcg_low": 0.65,
                          "tcg_mid": 1.55,
                          "tcg_market": 1.26,
                          "foil_price": null,
                          "price_change": 3,
                          "mc": "{{1}}{{u}}",
                          "game": 1,
                          "main_type": "Instant",
                          "colors": "Blue",
                          "name": "Daze",
                          "mid": 189255,
                          "t": "Instant",
                          "set": "Duel Decks: Jace vs. Chandra",
                          "rarity": "Common",
                          "types": "Instant",
                          "set_code": "DD2",
                          "expansion": "Duel Decks: Jace vs. Chandra",
                          "reserve_list": 0,
                          "emid": 61268,
                          "inventory_id": 49940170,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/15/2023",
                          "date_acquired_html": "2023-09-15",
                          "foil": 0,
                          "price_acquired": 1.22,
                          "current_price": 1.55,
                          "personal_gain": 0.33,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/dd2.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/61268.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/61268.jpg",
                          "gain": 27.05,
                          "echo_set_url": "https://api.echomtg.com/set/DD2/duel-decks-jace-vs-chandra/",
                          "echo_url": "https://api.echomtg.com/card/61268/daze/"
                        },
                        {
                          "tcg_low": 1.22,
                          "tcg_mid": 1.7,
                          "tcg_market": 1.52,
                          "foil_price": 9.63,
                          "price_change": -3,
                          "mc": "{{1}}{{u}}",
                          "game": 1,
                          "main_type": "Instant",
                          "colors": "Blue",
                          "name": "Daze",
                          "mid": 413586,
                          "t": "Instant",
                          "set": "Eternal Masters",
                          "rarity": "Uncommon",
                          "types": "Instant",
                          "set_code": "EMA",
                          "expansion": "Eternal Masters",
                          "reserve_list": 0,
                          "emid": 98781,
                          "inventory_id": 49929953,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/14/2023",
                          "date_acquired_html": "2023-09-14",
                          "foil": 0,
                          "price_acquired": 1.57,
                          "current_price": 1.7,
                          "personal_gain": 0.13,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/ema.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/98781.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/98781.jpg",
                          "gain": 8.28,
                          "echo_set_url": "https://api.echomtg.com/set/EMA/eternal-masters/",
                          "echo_url": "https://api.echomtg.com/card/98781/daze/"
                        },
                        {
                          "tcg_low": 0.19,
                          "tcg_mid": 0.52,
                          "tcg_market": 0.43,
                          "foil_price": null,
                          "price_change": -2,
                          "mc": "{{b}}",
                          "game": 1,
                          "main_type": "Instant",
                          "colors": "Black",
                          "name": "Hell Swarm",
                          "mid": 1443,
                          "t": "Instant",
                          "set": "Legends",
                          "rarity": "Common",
                          "types": "Instant",
                          "set_code": "LEG",
                          "expansion": "Legends",
                          "reserve_list": 0,
                          "emid": 1444,
                          "inventory_id": 49928163,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/13/2023",
                          "date_acquired_html": "2023-09-13",
                          "foil": 0,
                          "price_acquired": 0.43,
                          "current_price": 0.52,
                          "personal_gain": 0.09,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/leg.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/1444.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/1444.jpg",
                          "gain": 20.93,
                          "echo_set_url": "https://api.echomtg.com/set/LEG/legends/",
                          "echo_url": "https://api.echomtg.com/card/1444/hell-swarm/"
                        },
                        {
                          "tcg_low": 0.19,
                          "tcg_mid": 0.52,
                          "tcg_market": 0.43,
                          "foil_price": null,
                          "price_change": -2,
                          "mc": "{{b}}",
                          "game": 1,
                          "main_type": "Instant",
                          "colors": "Black",
                          "name": "Hell Swarm",
                          "mid": 1443,
                          "t": "Instant",
                          "set": "Legends",
                          "rarity": "Common",
                          "types": "Instant",
                          "set_code": "LEG",
                          "expansion": "Legends",
                          "reserve_list": 0,
                          "emid": 1444,
                          "inventory_id": 49928161,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/13/2023",
                          "date_acquired_html": "2023-09-13",
                          "foil": 0,
                          "price_acquired": 0.43,
                          "current_price": 0.52,
                          "personal_gain": 0.09,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/leg.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/1444.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/1444.jpg",
                          "gain": 20.93,
                          "echo_set_url": "https://api.echomtg.com/set/LEG/legends/",
                          "echo_url": "https://api.echomtg.com/card/1444/hell-swarm/"
                        },
                        {
                          "tcg_low": 0.63,
                          "tcg_mid": 0.99,
                          "tcg_market": 0.99,
                          "foil_price": null,
                          "price_change": -1,
                          "mc": "{{3}}{{b}}{{b}}{{b}}",
                          "game": 1,
                          "main_type": "Creature",
                          "colors": "Black",
                          "name": "Helldozer",
                          "mid": 205360,
                          "t": "Creature",
                          "set": "Planechase",
                          "rarity": "Rare",
                          "types": "Creature - Zombie Giant",
                          "set_code": "HOP",
                          "expansion": "Planechase",
                          "reserve_list": 0,
                          "emid": 69266,
                          "inventory_id": 49928160,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/13/2023",
                          "date_acquired_html": "2023-09-13",
                          "foil": 0,
                          "price_acquired": 0.99,
                          "current_price": 0.99,
                          "personal_gain": 0,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/hop.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/69266.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/69266.jpg",
                          "gain": 0,
                          "echo_set_url": "https://api.echomtg.com/set/HOP/planechase/",
                          "echo_url": "https://api.echomtg.com/card/69266/helldozer/"
                        },
                        {
                          "tcg_low": 0.02,
                          "tcg_mid": 0.25,
                          "tcg_market": 0.49,
                          "foil_price": 0.33,
                          "price_change": 0,
                          "mc": "{{1}}{{u}}{{u}}",
                          "game": 1,
                          "main_type": "Instant",
                          "colors": "Blue",
                          "name": "Cancel",
                          "mid": 113523,
                          "t": "Instant",
                          "set": "Time Spiral",
                          "rarity": "Common",
                          "types": "Instant",
                          "set_code": "TSP",
                          "expansion": "Time Spiral",
                          "reserve_list": 0,
                          "emid": 23109,
                          "inventory_id": 49928104,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/13/2023",
                          "date_acquired_html": "2023-09-13",
                          "foil": 0,
                          "price_acquired": 0.49,
                          "current_price": 0.25,
                          "personal_gain": -0.24,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/tsp.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/23109.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/23109.jpg",
                          "gain": -48.98,
                          "echo_set_url": "https://api.echomtg.com/set/TSP/time-spiral/",
                          "echo_url": "https://api.echomtg.com/card/23109/cancel/"
                        },
                        {
                          "tcg_low": 29.79,
                          "tcg_mid": 35.86,
                          "tcg_market": 32.45,
                          "foil_price": 37.08,
                          "price_change": -4,
                          "mc": "{{1}}{{b}}{{b}}{{b}}",
                          "game": 1,
                          "main_type": "Sorcery",
                          "colors": "Black",
                          "name": "Beseech the Mirror",
                          "mid": 100106416,
                          "t": "Sorcery",
                          "set": "Wilds of Eldraine",
                          "rarity": "mythic",
                          "types": "Sorcery",
                          "set_code": "woe",
                          "expansion": "Wilds of Eldraine",
                          "reserve_list": 0,
                          "emid": 153311,
                          "inventory_id": 49928094,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/13/2023",
                          "date_acquired_html": "2023-09-13",
                          "foil": 1,
                          "price_acquired": 45.51,
                          "current_price": 37.08,
                          "personal_gain": -8.43,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/woe.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/153311.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/153311.jpg",
                          "gain": -18.52,
                          "echo_set_url": "https://api.echomtg.com/set/woe/wilds-of-eldraine/",
                          "echo_url": "https://api.echomtg.com/card/153311/beseech-the-mirror/"
                        },
                        {
                          "tcg_low": 41,
                          "tcg_mid": 46.53,
                          "tcg_market": 43.33,
                          "foil_price": 44.84,
                          "price_change": 19,
                          "mc": "{{2}}",
                          "game": 1,
                          "main_type": "Legendary Artifact",
                          "colors": "Colorless",
                          "name": "Agatha's Soul Cauldron",
                          "mid": 100106576,
                          "t": "Legendary",
                          "set": "Wilds of Eldraine",
                          "rarity": "mythic",
                          "types": "Legendary Artifact",
                          "set_code": "woe",
                          "expansion": "Wilds of Eldraine",
                          "reserve_list": 0,
                          "emid": 153471,
                          "inventory_id": 49928093,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/13/2023",
                          "date_acquired_html": "2023-09-13",
                          "foil": 1,
                          "price_acquired": 37.96,
                          "current_price": 44.84,
                          "personal_gain": 6.88,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/woe.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/153471.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/153471.jpg",
                          "gain": 18.12,
                          "echo_set_url": "https://api.echomtg.com/set/woe/wilds-of-eldraine/",
                          "echo_url": "https://api.echomtg.com/card/153471/agatha-s-soul-cauldron/"
                        },
                        {
                          "tcg_low": 49.99,
                          "tcg_mid": 58.75,
                          "tcg_market": 52.13,
                          "foil_price": 69.87,
                          "price_change": 15,
                          "mc": "{{2}}",
                          "game": 1,
                          "main_type": "Legendary Artifact",
                          "colors": "Colorless",
                          "name": "Agatha's Soul Cauldron (Extended Art)",
                          "mid": 100106700,
                          "t": "Legendary",
                          "set": "Wilds of Eldraine",
                          "rarity": "Mythic Rare",
                          "types": "Legendary Artifact",
                          "set_code": "woe",
                          "expansion": "Wilds of Eldraine",
                          "reserve_list": 0,
                          "emid": 153595,
                          "inventory_id": 49928091,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/13/2023",
                          "date_acquired_html": "2023-09-13",
                          "foil": 0,
                          "price_acquired": 40.92,
                          "current_price": 58.75,
                          "personal_gain": 17.83,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/woe.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/153595.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/153595.jpg",
                          "gain": 43.57,
                          "echo_set_url": "https://api.echomtg.com/set/woe/wilds-of-eldraine/",
                          "echo_url": "https://api.echomtg.com/card/153595/agatha-s-soul-cauldron-extended-art/"
                        },
                        {
                          "tcg_low": 41,
                          "tcg_mid": 46.53,
                          "tcg_market": 43.33,
                          "foil_price": 44.84,
                          "price_change": 19,
                          "mc": "{{2}}",
                          "game": 1,
                          "main_type": "Legendary Artifact",
                          "colors": "Colorless",
                          "name": "Agatha's Soul Cauldron",
                          "mid": 100106576,
                          "t": "Legendary",
                          "set": "Wilds of Eldraine",
                          "rarity": "mythic",
                          "types": "Legendary Artifact",
                          "set_code": "woe",
                          "expansion": "Wilds of Eldraine",
                          "reserve_list": 0,
                          "emid": 153471,
                          "inventory_id": 49928083,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/13/2023",
                          "date_acquired_html": "2023-09-13",
                          "foil": 0,
                          "price_acquired": 39.36,
                          "current_price": 46.53,
                          "personal_gain": 7.17,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/woe.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/153471.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/153471.jpg",
                          "gain": 18.22,
                          "echo_set_url": "https://api.echomtg.com/set/woe/wilds-of-eldraine/",
                          "echo_url": "https://api.echomtg.com/card/153471/agatha-s-soul-cauldron/"
                        },
                        {
                          "tcg_low": 41,
                          "tcg_mid": 46.53,
                          "tcg_market": 43.33,
                          "foil_price": 44.84,
                          "price_change": 19,
                          "mc": "{{2}}",
                          "game": 1,
                          "main_type": "Legendary Artifact",
                          "colors": "Colorless",
                          "name": "Agatha's Soul Cauldron",
                          "mid": 100106576,
                          "t": "Legendary",
                          "set": "Wilds of Eldraine",
                          "rarity": "mythic",
                          "types": "Legendary Artifact",
                          "set_code": "woe",
                          "expansion": "Wilds of Eldraine",
                          "reserve_list": 0,
                          "emid": 153471,
                          "inventory_id": 49928082,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/13/2023",
                          "date_acquired_html": "2023-09-13",
                          "foil": 0,
                          "price_acquired": 39.36,
                          "current_price": 46.53,
                          "personal_gain": 7.17,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/woe.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/153471.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/153471.jpg",
                          "gain": 18.22,
                          "echo_set_url": "https://api.echomtg.com/set/woe/wilds-of-eldraine/",
                          "echo_url": "https://api.echomtg.com/card/153471/agatha-s-soul-cauldron/"
                        },
                        {
                          "tcg_low": 41,
                          "tcg_mid": 46.53,
                          "tcg_market": 43.33,
                          "foil_price": 44.84,
                          "price_change": 19,
                          "mc": "{{2}}",
                          "game": 1,
                          "main_type": "Legendary Artifact",
                          "colors": "Colorless",
                          "name": "Agatha's Soul Cauldron",
                          "mid": 100106576,
                          "t": "Legendary",
                          "set": "Wilds of Eldraine",
                          "rarity": "mythic",
                          "types": "Legendary Artifact",
                          "set_code": "woe",
                          "expansion": "Wilds of Eldraine",
                          "reserve_list": 0,
                          "emid": 153471,
                          "inventory_id": 49928081,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/13/2023",
                          "date_acquired_html": "2023-09-13",
                          "foil": 1,
                          "price_acquired": 37.96,
                          "current_price": 44.84,
                          "personal_gain": 6.88,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/woe.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/153471.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/153471.jpg",
                          "gain": 18.12,
                          "echo_set_url": "https://api.echomtg.com/set/woe/wilds-of-eldraine/",
                          "echo_url": "https://api.echomtg.com/card/153471/agatha-s-soul-cauldron/"
                        },
                        {
                          "tcg_low": 41,
                          "tcg_mid": 46.53,
                          "tcg_market": 43.33,
                          "foil_price": 44.84,
                          "price_change": 19,
                          "mc": "{{2}}",
                          "game": 1,
                          "main_type": "Legendary Artifact",
                          "colors": "Colorless",
                          "name": "Agatha's Soul Cauldron",
                          "mid": 100106576,
                          "t": "Legendary",
                          "set": "Wilds of Eldraine",
                          "rarity": "mythic",
                          "types": "Legendary Artifact",
                          "set_code": "woe",
                          "expansion": "Wilds of Eldraine",
                          "reserve_list": 0,
                          "emid": 153471,
                          "inventory_id": 49928080,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/13/2023",
                          "date_acquired_html": "2023-09-13",
                          "foil": 1,
                          "price_acquired": 37.96,
                          "current_price": 44.84,
                          "personal_gain": 6.88,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/woe.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/153471.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/153471.jpg",
                          "gain": 18.12,
                          "echo_set_url": "https://api.echomtg.com/set/woe/wilds-of-eldraine/",
                          "echo_url": "https://api.echomtg.com/card/153471/agatha-s-soul-cauldron/"
                        },
                        {
                          "tcg_low": 39.99,
                          "tcg_mid": 46.93,
                          "tcg_market": 44.48,
                          "foil_price": 66.84,
                          "price_change": 0,
                          "mc": "{{1}}{{b}}{{b}}{{b}}",
                          "game": 1,
                          "main_type": "Sorcery",
                          "colors": "Black",
                          "name": "Beseech the Mirror (Extended Art)",
                          "mid": 100106670,
                          "t": "Sorcery",
                          "set": "Wilds of Eldraine",
                          "rarity": "Mythic Rare",
                          "types": "Sorcery",
                          "set_code": "woe",
                          "expansion": "Wilds of Eldraine",
                          "reserve_list": 0,
                          "emid": 153565,
                          "inventory_id": 49928079,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/13/2023",
                          "date_acquired_html": "2023-09-13",
                          "foil": 0,
                          "price_acquired": 45,
                          "current_price": 46.93,
                          "personal_gain": 1.93,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/woe.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/153565.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/153565.jpg",
                          "gain": 4.29,
                          "echo_set_url": "https://api.echomtg.com/set/woe/wilds-of-eldraine/",
                          "echo_url": "https://api.echomtg.com/card/153565/beseech-the-mirror-extended-art/"
                        },
                        {
                          "tcg_low": 29.79,
                          "tcg_mid": 35.86,
                          "tcg_market": 32.45,
                          "foil_price": 37.08,
                          "price_change": -4,
                          "mc": "{{1}}{{b}}{{b}}{{b}}",
                          "game": 1,
                          "main_type": "Sorcery",
                          "colors": "Black",
                          "name": "Beseech the Mirror",
                          "mid": 100106416,
                          "t": "Sorcery",
                          "set": "Wilds of Eldraine",
                          "rarity": "mythic",
                          "types": "Sorcery",
                          "set_code": "woe",
                          "expansion": "Wilds of Eldraine",
                          "reserve_list": 0,
                          "emid": 153311,
                          "inventory_id": 49928078,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/13/2023",
                          "date_acquired_html": "2023-09-13",
                          "foil": 0,
                          "price_acquired": 34.99,
                          "current_price": 35.86,
                          "personal_gain": 0.87,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/woe.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/153311.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/153311.jpg",
                          "gain": 2.49,
                          "echo_set_url": "https://api.echomtg.com/set/woe/wilds-of-eldraine/",
                          "echo_url": "https://api.echomtg.com/card/153311/beseech-the-mirror/"
                        },
                        {
                          "tcg_low": 22.81,
                          "tcg_mid": 25,
                          "tcg_market": 25.69,
                          "foil_price": 33.58,
                          "price_change": 8,
                          "mc": "{{5}}{{w}}{{w}}{{w}}",
                          "game": 1,
                          "main_type": "Creature ",
                          "colors": "White",
                          "name": "Moonshaker Cavalry (Extended Art)",
                          "mid": 100106659,
                          "t": "Creature",
                          "set": "Wilds of Eldraine",
                          "rarity": "Mythic Rare",
                          "types": "Creature — Spirit Knight",
                          "set_code": "woe",
                          "expansion": "Wilds of Eldraine",
                          "reserve_list": 0,
                          "emid": 153554,
                          "inventory_id": 49928077,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/13/2023",
                          "date_acquired_html": "2023-09-13",
                          "foil": 0,
                          "price_acquired": 24.01,
                          "current_price": 25,
                          "personal_gain": 0.99,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/woe.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/153554.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/153554.jpg",
                          "gain": 4.12,
                          "echo_set_url": "https://api.echomtg.com/set/woe/wilds-of-eldraine/",
                          "echo_url": "https://api.echomtg.com/card/153554/moonshaker-cavalry-extended-art/"
                        },
                        {
                          "tcg_low": 22.81,
                          "tcg_mid": 25,
                          "tcg_market": 25.69,
                          "foil_price": 33.58,
                          "price_change": 8,
                          "mc": "{{5}}{{w}}{{w}}{{w}}",
                          "game": 1,
                          "main_type": "Creature ",
                          "colors": "White",
                          "name": "Moonshaker Cavalry (Extended Art)",
                          "mid": 100106659,
                          "t": "Creature",
                          "set": "Wilds of Eldraine",
                          "rarity": "Mythic Rare",
                          "types": "Creature — Spirit Knight",
                          "set_code": "woe",
                          "expansion": "Wilds of Eldraine",
                          "reserve_list": 0,
                          "emid": 153554,
                          "inventory_id": 49928076,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/13/2023",
                          "date_acquired_html": "2023-09-13",
                          "foil": 0,
                          "price_acquired": 24.01,
                          "current_price": 25,
                          "personal_gain": 0.99,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/woe.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/153554.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/153554.jpg",
                          "gain": 4.12,
                          "echo_set_url": "https://api.echomtg.com/set/woe/wilds-of-eldraine/",
                          "echo_url": "https://api.echomtg.com/card/153554/moonshaker-cavalry-extended-art/"
                        },
                        {
                          "tcg_low": 39.99,
                          "tcg_mid": 46.93,
                          "tcg_market": 44.48,
                          "foil_price": 66.84,
                          "price_change": 0,
                          "mc": "{{1}}{{b}}{{b}}{{b}}",
                          "game": 1,
                          "main_type": "Sorcery",
                          "colors": "Black",
                          "name": "Beseech the Mirror (Extended Art)",
                          "mid": 100106670,
                          "t": "Sorcery",
                          "set": "Wilds of Eldraine",
                          "rarity": "Mythic Rare",
                          "types": "Sorcery",
                          "set_code": "woe",
                          "expansion": "Wilds of Eldraine",
                          "reserve_list": 0,
                          "emid": 153565,
                          "inventory_id": 49928075,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/13/2023",
                          "date_acquired_html": "2023-09-13",
                          "foil": 0,
                          "price_acquired": 45,
                          "current_price": 46.93,
                          "personal_gain": 1.93,
                          "set_image": "https://assets.echomtg.com/magic/symbols/expansions/woe.png",
                          "image_cropped": "https://assets.echomtg.com/magic/cards/cropped/153565.hq.jpg",
                          "image": "https://assets.echomtg.com/magic/cards/original/153565.jpg",
                          "gain": 4.29,
                          "echo_set_url": "https://api.echomtg.com/set/woe/wilds-of-eldraine/",
                          "echo_url": "https://api.echomtg.com/card/153565/beseech-the-mirror-extended-art/"
                        },
                        {
                          "tcg_low": 39.99,
                          "tcg_mid": 46.93,
                          "tcg_market": 44.48,
                          "foil_price": 66.84,
                          "price_change": 0,
                          "mc": "{{1}}{{b}}{{b}}{{b}}",
                          "game": 1,
                          "main_type": "Sorcery",
                          "colors": "Black",
                          "name": "Beseech the Mirror (Extended Art)",
                          "mid": 100106670,
                          "t": "Sorcery",
                          "set": "Wilds of Eldraine",
                          "rarity": "Mythic Rare",
                          "types": "Sorcery",
                          "set_code": "woe",
                          "expansion": "Wilds of Eldraine",
                          "reserve_list": 0,
                          "emid": 153565,
                          "inventory_id": 49928071,
                          "note_id": 0,
                          "user_image": "",
                          "condition": "NM",
                          "tradable": 0,
                          "lang": "EN",
                          "date_acquired": "9/13/2023",
                          "date_acquired_html": "2023-09-13",
[...]
